<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="a842beff-7e66-4fd2-b80f-70086f085b5a"
            Publisher="CN=Aetf"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>myEarth</DisplayName>
    <PublisherDisplayName>Aetf</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="myEarth.App">
        <VisualElements
            DisplayName="myEarth"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="myEarth"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>